streamlit
pandas
numpy
scikit-learn
wikipedia-api
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
torch-geometric